{% extends "RS_Lab/Base_Main.html" %}
{% load plotly_dash %}
{% load static %}

{% block content%}
<div style="background-color: white; padding: 10px;display: flex; flex-direction: column; align-items: left;">
     <br>
    <div class="container">
        <header class="layout-0">
            <h1 class=" underline" style="padding-bottom: 10px; border-bottom: 2px solid #1f324b">
            <span>Contact</span>
            </h1>
        </header>
        <br>

        <h4 style="padding-bottom: 10px;">Professor:</h4>
        <h5>Dr. Jens Dörpinghaus</h5>
        <br>

        <h4 style="padding-bottom: 10px;">Project Members:</h4>
        <h5>Sajid Sarwar</h5>
        <h5>Muhammad Mubashir</h5>
        <h5>Aamir Amin</h5>
        <h5>Zeeshan Ahmed</h5>
        <h5>Faisal Aman Abbasi</h5>
        <h5>Hammad Ahmed</h5>
        <br><br>

    </div>

<br>

</div>
{% endblock %}